<?xml version="1.0" encoding="utf-8" ?>
<nlog
  throwExceptions="true"
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets async="true">
    <target xsi:type="File" name="traceF" fileName="${basedir}/App_Data/logs/Trace/${shortdate}.log"
           layout="${longdate}${logger}${newline}${message}${newline}${onexception:inner=${newline}${exception:format=tostring}}" />
    <target xsi:type="File" name="infoF" fileName="${basedir}/App_Data/logs/Info/${shortdate}.log"
           layout="${longdate}${logger}${newline}${message}${newline}${onexception:inner=${newline}${exception:format=tostring}}" />
    <target xsi:type="File" name="debugF" fileName="${basedir}/App_Data/logs/Debug/${shortdate}.log"
           layout="${longdate}${logger}${newline}${message}${newline}${onexception:inner=${newline}${exception:format=tostring}}" />
    <target xsi:type="File" name="warnF" fileName="${basedir}/App_Data/logs/Warn/${shortdate}.log"
           layout="${longdate}${logger}${newline}${message}${newline}${onexception:inner=${newline}${exception:format=tostring}}" />
    <target xsi:type="File" name="errorF" fileName="${basedir}/App_Data/logs/${shortdate}.log"
           layout="---------------------------------------${logger}    ${time} --------------------------------${newline}${message}${newline}${onexception:inner=${newline}${exception:format=tostring}}" />

    <!--日志Level：必须--><!--
      <parameter name="Level" type="System.String" layout="${level}"/>
      --><!--消息标题：必须，不支持特殊字符-->
        <!--
      <parameter name="Title" type="System.String" layout="layout="【Magicodes.WeiChat】${message}"/>
      -->
        <!--详细内容-->
        <!--
        <parameter name="Message" type="System.String" layout="${logger}    ${time} ${newline}${onexception:inner=${newline}${exception:format=tostring}}"/>
    </target>-->
  </targets>
  <rules>
    <logger name="*" levels="Error" writeTo="errorF" />
    <!--<logger name="*" minlevel="Trace" writeTo="wsLog" />-->
    <logger name="*" levels="Warn" writeTo="warnF" />
    <logger name="*" levels="Debug" writeTo="debugF" />
    <logger name="*" levels="Info" writeTo="infoF" />
    <logger name="*" levels="Trace" writeTo="traceF" />
  </rules>
</nlog>